# Data Engineer Project - ETL

## Part 1 - Web Scraping to get bank information

In [1]:
from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

In [3]:
# Gathering the information
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"
response = requests.get(url)
if response.status_code == 200:
    html_data = response.text
    print(html_data[0:100])
else:
    print("Error: ", response.status_code)

<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title

### Scraping the data with BeautifulSoup

In [4]:
soup = BeautifulSoup(html_data, "html5lib")

In [5]:
rows = []
for row in soup.find_all("tbody")[0].find_all("tr"):
    r = []
    i= 0
    for td in row.find_all("td"):
        if i == 0:
            i += 1
            continue
        r.append(td.text[0:-1])
        i+=1
    rows.append(r)
rows.pop(0)
print(rows)

[[' Industrial and Commercial Bank of China Limited', '5,536.53'], [' China Construction Bank', '4,762.46'], [' Agricultural Bank of China', '4,575.95'], [' Bank of China', '4,206.53'], [' JPMorgan Chase', '3,743.57'], ['  Mitsubishi UFJ Financial Group', '3,176.84'], [' Bank of America', '3,169.50'], [' HSBC', '2,953.64'], [' BNP Paribas', '2,905.83'], [' Crédit Agricole', '2,674.35'], [' Citigroup Inc.', '2,291.41'], [' SMBC Group', '2,176.94'], [' Japan Post Bank', '1,998.98'], [' Postal Savings Bank of China', '1,981.53'], [' Mizuho Financial Group', '1,957.87'], [' Wells Fargo', '1,948.07'], [' Barclays', '1,874.40'], [' Bank of Communications', '1,836.38'], [' Banco Santander', '1,814.90'], [' Groupe BPCE', '1,724.12'], [' Société Générale', '1,665.47'], [' Deutsche Bank', '1,505.74'], [' Toronto-Dominion Bank', '1,486.40'], [' Goldman Sachs', '1,463.99'], [' China Merchants Bank', '1,455.94'], [' Royal Bank of Canada', '1,376.79'], [' Industrial Bank (China)', '1,354.25'], [' China CITIC Bank', '1,266.08'], [' Shanghai Pudong Development Bank', '1,251.38'], [' Crédit Mutuel', '1,249.36'], [' Intesa Sanpaolo', '1,215.74'], [' Lloyds Banking Group', '1,200.41'], [' Morgan Stanley', '1,188.14'], [' UBS', '1,117.18'], [' China Minsheng Bank', '1,094.48'], [' ING Group', '1,081.87'], [' NatWest Group', '1,058.86'], [' UniCredit', '1,042.50'], [' Scotiabank', '978.48'], [' China Everbright Bank', '929.08'], [' Norinchukin Bank', '927.77'], [' Bank of Montreal', '908.62'], [' La Banque postale', '878.32'], [' Commonwealth Bank', '836.05'], [' Credit Suisse', '829.12'], [' Standard Chartered', '827.82'], [' Banco Bilbao Vizcaya Argentaria', '818.21'], [' Ping An Bank', '774.70'], [' CaixaBank', '773.38'], [' Rabobank', '727.37'], [' DZ Bank', '713.38'], [' Australia and New Zealand Banking Group', '709.01'], [' State Bank of India', '694.90'], [' Westpac', '677.88'], [' Canadian Imperial Bank of Commerce', '676.95'], [' National Australia Bank', '670.70'], [' Resona Holdings', '662.32'], [' Nordea', '648.64'], [' Danske Bank', '602.01'], [' U.S. Bancorp', '573.28'], [' KB Financial Group Inc', '557.35'], [' PNC Financial Services', '557.19'], [' Sumitomo Mitsui Trust Holdings', '553.87'], [' Huaxia Bank', '550.75'], [' Sberbank of Russia', '548.58'], [' Shinhan Bank', '544.14'], [' Truist Financial Corp', '541.24'], [' Commerzbank', '536.65'], [' DBS Bank', '508.89'], [' China Guangfa Bank', '493.36'], [' Bank of Beijing', '474.36'], [' ABN AMRO', '453.90'], [' The Bank of New York Mellon', '444.44'], [' Capital One', '432.38'], [' Nonghyup Bank', '425.58'], [' Hana Financial Group', '421.81'], [' Bank of Shanghai', '411.53'], [' OCBC Bank', '402.16'], [' Bank of Jiangsu', '400.75'], [' KBC Bank', '393.17'], [' Nomura Holdings', '392.71'], [' Nationwide Building Society', '385.40'], [' Woori Bank', '375.42'], [' Itaú Unibanco', '371.38'], [' Handelsbanken', '370.13'], [' SEB Group', '365.43'], [' China Zheshang Bank', '359.97'], [' Erste Group', '350.96'], [' DNB ASA', '342.97'], [' Banco do Brasil', '340.89'], [' United Overseas Bank', '340.70'], [' Industrial Bank of Korea', '334.19'], [' Landesbank Baden-Württemberg', '321.05'], [' State Street Corporation', '314.62'], [' Desjardins Group', '313.78'], [' Raiffeisen Gruppe', '312.07'], [' Swedbank', '304.20'], [' Bayerische Landesbank', '303.14'], [' Banco Bradesco', '300.73'], [' Qatar National Bank', '300.24']]

In [6]:
data = pd.DataFrame(rows, columns=["Name", "Market Cap (US$ Billion)"])
data.head()

                                               Name Market Cap (US$ Billion)
0   Industrial and Commercial Bank of China Limited                 5,536.53
1                           China Construction Bank                 4,762.46
2                        Agricultural Bank of China                 4,575.95
3                                     Bank of China                 4,206.53
4                                    JPMorgan Chase                 3,743.57

### Load the data

In [7]:
data.to_json("Data/bank_market_cap.json")

# Part 2. Rate data using an API

In [8]:
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=qqJdu3oiaJle02zMPD8CXjvxtfqst25W"
response = requests.get(url)
data = response.json()["rates"]

In [9]:
df = pd.DataFrame.from_dict(data, orient="index", columns=["Rate"])
df.head()

           Rate
AED    3.995134
AFN   96.928176
ALL  116.739848
AMD  430.751967
ANG    1.960765

### Load the data

In [10]:
df.to_csv("Data/exchange_rates.csv")

# Part 3. ETL Process

### Objectives
- ETL process
- Extract bank and market data (bank_market_cap.json)
- Transform the market cap currency
- Load the transformed data into a separate CSV file

In [70]:
from datetime import datetime

In [71]:
# Extract JSON files
def extract_from_json(json_file):
    df = pd.read_json(json_file)
    return df

## Extract Function

Extract from a JSON file and define columns

In [72]:
columns = ["Name", "Market Cap (US$ Billion)"]

In [73]:
def extract(file, columns):
    df = extract_from_json(file)
    df.columns = columns
    df[columns[1]] = df[columns[1]].str.replace(",","").astype(float)
    return df

In [74]:
# Load of file "exchange_rates.csv", taking of the exchange rate of GDP
df = pd.read_csv("Data/exchange_rates.csv")
df = df.set_index("Unnamed: 0")
df.index = df.index.rename("")
df.head()

           Rate

AED    3.995134
AFN   96.928176
ALL  116.739848
AMD  430.751967
ANG    1.960765

In [75]:
GBP_rate = df.loc["GBP", "Rate"]

In [76]:
# Transform Market Cap from US$ to GBP$
def transform(exchange_rate, dataframe):
    dataframe["Market Cap (US$ Billion)"] = dataframe["Market Cap (US$ Billion)"] * exchange_rate
    dataframe = dataframe.rename(columns={"Market Cap (US$ Billion)": "Market Cap (GBP$ Billion)"})
    return dataframe

In [77]:
# Load the data
def load(dataframe):
    dataframe.to_csv("bank_market_cap_gbp.csv", index = False)

In [78]:
# Logging function
def log(message):
    # Get the current timestamp
    timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    with open("log.txt", "a") as file:
        file.write(f"{timestamp} - {message}\n")

### Running the ETL Process

In [79]:
log("ETL Job Started")
log("Extract phase Started")

#### Extract

In [80]:
dataframe = extract("Data/bank_market_cap.json", columns)
dataframe.head()

                                               Name  Market Cap (US$ Billion)
0   Industrial and Commercial Bank of China Limited                   5536.53
1                           China Construction Bank                   4762.46
2                        Agricultural Bank of China                   4575.95
3                                     Bank of China                   4206.53
4                                    JPMorgan Chase                   3743.57

In [81]:
log("Extract phase Ended")

#### Transform

In [82]:
log("Transform phase Started")

In [83]:
dataframe = transform(GBP_rate, dataframe)
dataframe.head()

                                               Name  Market Cap (GBP$ Billion)
0   Industrial and Commercial Bank of China Limited                4867.988466
1                           China Construction Bank                4187.388193
2                        Agricultural Bank of China                4023.399462
3                                     Bank of China                3698.587296
4                                    JPMorgan Chase                3291.530179

#### Load

In [84]:
log("Load phase Started")

In [85]:
load(dataframe)

In [86]:
log("Load phase Ended")